<connectionStrings>
    <add name="SqlServerAggregateDb" 
        connectionString="User ID=sa;password=griffinski;Initial Catalog=AggregateDb;Data Source=GRIFCOM1;" />
    <add name="SqlServerFkt" 
        connectionString="User ID=sa;password=griffinski;Initial Catalog=ForeignKeyTest;Data Source=GRIFCOM1;" />
    <add name="SqlServerAlternate" 
        connectionString="User ID=sa;password=griffinski;Initial Catalog=AggregateDb;Data Source=GRIFCOM1;"  />
    <add name="SqlCeAggregateDb" 
        connectionString="Data Source=C:\SVN\architecture\v1\Tests\Tests\SqlCe\AggregateDb.sdf;" />
    <add name="SqlCeFkt" 
        connectionString="Data Source=C:\SVN\architecture\v1\Tests\Tests\SqlCe\ForeignKeyTest.sdf;" />
    <add name="AccessAggregateDb" 
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=C:\SVN\architecture\v1\Tests\Tests\MSAccess\AggregateDb.mdb;Persist Security Info=False" />
    <add name="AccessFkt" 
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=C:\SVN\architecture\v1\Tests\Tests\MSAccess\ForeignKeyTest.mdb;Persist Security Info=False" />
    <add name="OracleAggregateDb" 
        connectionString="Password=TestUser;Persist Security Info=True;User ID=MyGeneration;Data Source=127.0.0.1;" />
    <add name="OracleFkt" 
        connectionString="Password=TestUser;Persist Security Info=True;User ID=HIERARCHICAL;Data Source=127.0.0.1;" />
    <add name="MySQLAggregateDb" 
        connectionString="Database=aggregatedb;Data Source=localhost;User Id=TestUser;Password=TestUser;" />
    <add name="MySQLFkt" 
        connectionString="Database=foreignkeytest;Data Source=localhost;User Id=TestUser;Password=TestUser;" />
    <add name="PgsqlAggregateDb" 
        connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=TestUser;Database=AggregateDb;" />
    <add name="PgsqlFkt" 
        connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=TestUser;Database=ForeignKeyTest;" />
    <add name="VistaDBAggregateDb" 
        connectionString="Data Source=C:\SVN\architecture\v1\Tests\Tests\VistaDB\AggregateDb.vdb3;  Open Mode=NonexclusiveReadWrite;" />
    <add name="VistaDBFkt" 
        connectionString="Data Source=C:\SVN\architecture\v1\Tests\Tests\VistaDB\ForeignKeyTest.vdb3;  Open Mode=NonexclusiveReadWrite;" />
</connectionStrings>
