<connectionStrings>
    <add name="SqlServerAggregateDb" 
        connectionString="Data Source=localhost;Initial Catalog=AggregateDb;Integrated Security=sspi;" />
    <add name="SqlServerFkt" 
        connectionString="Data Source=localhost;Initial Catalog=ForeignKeyTest;Integrated Security=sspi;" />
    <add name="SqlServerAlternate" 
        connectionString="Data Source=127.0.0.1;Initial Catalog=AggregateDb;Integrated Security=sspi;" />
    <add name="SqlAzureAggregateDb" 
        connectionString="Server=tcp:myAzure.database.windows.net;Database=AggregateDB;User ID=MyUserId;Password=MyPassword;Trusted_Connection=False;Encrypt=True;" />
    <add name="SqlAzureFkt" 
        connectionString="Server=tcp:myAzure.database.windows.net;Database=ForeignKeyTest;User ID=MyUserId;Password=MyPassword;Trusted_Connection=False;Encrypt=True;" />
    <add name="SqlCeAggregateDb" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SqlCe\3.5\AggregateDb.sdf;" />
    <add name="SqlCeFkt" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SqlCe\3.5\ForeignKeyTest.sdf;" />
    <add name="SqlCeGuid" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SqlCe\3.5\GuidTestDb.sdf;" />
    <add name="SqlCe4AggregateDb" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SqlCe\4.0\AggregateDb.sdf;" />
    <add name="SqlCe4Fkt" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SqlCe\4.0\ForeignKeyTest.sdf;" />
    <add name="SqlCe4Guid" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SqlCe\4.0\GuidTestDb.sdf;" />
    <add name="AccessAggregateDb" 
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=C:\SVNData\EntitySpacesNew\Databases\MSAccess\2000\AggregateDb.mdb;Persist Security Info=False" />
    <add name="AccessFkt" 
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=C:\SVNData\EntitySpacesNew\Databases\MSAccess\2000\ForeignKeyTest.mdb;Persist Security Info=False" />
    <add name="OracleAggregateDb" 
        connectionString="Password=TestUser;Persist Security Info=True;User ID=ENTITYSPACES;Data Source=127.0.0.1;" />
    <add name="OracleFkt" 
        connectionString="Password=TestUser;Persist Security Info=True;User ID=HIERARCHICAL;Data Source=127.0.0.1;" />
    <add name="MySQLAggregateDb" 
        connectionString="Database=aggregatedb;Data Source=localhost;User Id=TestUser;Password=TestUser;Respect Binary Flags=false;" />
    <add name="MySQLFkt" 
        connectionString="Database=foreignkeytest;Data Source=localhost;User Id=TestUser;Password=TestUser;Respect Binary Flags=false;" />
    <add name="PgsqlAggregateDb" 
        connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=TestUser;Database=AggregateDb;" />
    <add name="PgsqlFkt" 
        connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=TestUser;Database=ForeignKeyTest;" />
    <add name="VistaDBAggregateDb" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\VistaDB\3.3\AggregateDb.vdb3; Open Mode=NonexclusiveReadWrite;" />
    <add name="VistaDBFkt" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\VistaDB\3.3\ForeignKeyTest.vdb3; Open Mode=NonexclusiveReadWrite;" />
    <add name="VistaDB4AggregateDb" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\VistaDB\4.0\AggregateDb.vdb4; Open Mode=NonexclusiveReadWrite;" />
    <add name="VistaDB4Fkt" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\VistaDB\4.0\ForeignKeyTest.vdb4; Open Mode=NonexclusiveReadWrite;" />
    <add name="SQLiteAggregateDb" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SQLite\3.6\AggregateDb.db3;Version=3;" />
    <add name="SQLiteFkt" 
        connectionString="Data Source=C:\SVNData\EntitySpacesNew\Databases\SQLite\3.6\ForeignKeyTest.db3;Version=3;" />
    <add name="SybaseAggregateDb" 
        connectionString="ENG=EntitySpaces;UID=dba;PWD=sql;DBN=AggregateDB" />
    <add name="SybaseFkt" 
        connectionString="ENG=EntitySpaces;UID=dba;PWD=sql;DBN=ForeignKeyTest" />
</connectionStrings>
