<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="EntitySpaces" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Core">
            <section name="connectionInfo" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
        </sectionGroup>
    </configSections>

    <EntitySpaces>
        <connectionInfo default="AggregateDb">
            <connections>

                <add name="AggregateDb" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" commandTimeout="39" connectionString="AppSettings:SqlServerAggregateDb" databaseVersion="2005"/>

                <add name="ForeignKeyTest" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="AppSettings:SqlServerFkt" databaseVersion="2005"/>

                <add name="AccessAggregateDb" providerMetadataKey="esAccess" sqlAccessType="DynamicSQL" provider="EntitySpaces.MSAccessProvider" providerClass="DataProvider" connectionString="AppSettings:AccessAggregateDb"/>
            </connections>
        </connectionInfo>
    </EntitySpaces>

    <connectionStrings configSource="Connections.config"/>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.DebuggerVisualizers" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5D8B90D52F46FDA7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
