<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup
          name="EntitySpaces"
          type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Core">
            <section
                 name="connectionInfo"
                 type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Interfaces"
                 allowLocation="true"
                 allowDefinition="Everywhere"
                 restartOnExternalChanges="true"/>
        </sectionGroup>
    </configSections>

    <EntitySpaces>
        <connectionInfo default="AggregateDb">
            <connections>

                <add name="AggregateDb"
                    providerMetadataKey="esDefault"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.SqlClientProvider"
                    providerClass="DataProvider"
                    commandTimeout="39"
                    connectionString="AppSettings:SqlServerAggregateDb"
                    databaseVersion="2005" />

                <add name="ForeignKeyTest"
                    providerMetadataKey="esDefault"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.SqlClientProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:SqlServerFkt"
                    databaseVersion="2005" />

                <add name="AccessAggregateDb"
                    providerMetadataKey="esAccess"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.MSAccessProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:AccessAggregateDb" />

                <add name="AccessForeignKeyTest"
                    providerMetadataKey="esAccess"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.MSAccessProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:AccessFkt" />

                <add name="AccessAggregateDb"
                    providerMetadataKey="esAccess"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.MSAccessProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:AccessAggregateDb" />

                <add name="OracleAggregateDb"
                    providerMetadataKey="esOracle"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.OracleClientProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:OracleAggregateDb" />

                <add name="OracleForeignKeyTest"
                    providerMetadataKey="esOracle"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.OracleClientProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:OracleFkt" />

                <add name="OracleMusicDb"
                    providerMetadataKey="esDefault"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.OracleClientProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:OracleMusicDb" />

                <add name="SQLiteAggregateDb"
                    providerMetadataKey="esSQLite"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.SQLiteProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:SQLiteAggregateDb" />

                <add name="SQLiteForeignKeyTest"
                    providerMetadataKey="esSQLite"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.SQLiteProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:SQLiteFkt" />

                <add name="SybaseAggregateDb"
                    providerMetadataKey="esSybase"
                    sqlAccessType="DynamicSQL"
                    provider="EntitySpaces.SybaseSqlAnywhereProvider"
                    providerClass="DataProvider"
                    connectionString="AppSettings:SybaseAggregateDb" />
            </connections>
        </connectionInfo>
    </EntitySpaces>

    <connectionStrings configSource="Connections.config" />
</configuration>