<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="EntitySpaces" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Core" >
      <section name="connectionInfo" 
        type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>  
  
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <!-- Redirect SqlCe Connector -->
                <assemblyIdentity name="System.Data.SqlServerCe"
                                  publicKeyToken="89845dcd8080cc91"
                                  culture="neutral" />
                <bindingRedirect oldVersion="9.0.242.0"
                                 newVersion="4.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
  <EntitySpaces>
    <connectionInfo default="AggregateDb">
      <connections>
        
        <add name="AggregateDb" 
            providerMetadataKey="esSqlCe4" 
            sqlAccessType="DynamicSQL" 
            provider="EntitySpaces.SqlServerCe4Provider" 
            providerClass="DataProvider"           
            connectionString="AppSettings:SqlCe4AggregateDb" />
            
        <add name="ForeignKeyTest" 
            providerMetadataKey="esSqlCe4" 
            sqlAccessType="DynamicSQL" 
            provider="EntitySpaces.SqlServerCe4Provider" 
            providerClass="DataProvider"           
            connectionString="AppSettings:SqlCe4Fkt" />
        
        <add name="GuidTest" 
            providerMetadataKey="esSqlCe4" 
            sqlAccessType="DynamicSQL" 
            provider="EntitySpaces.SqlServerCe4Provider" 
            providerClass="DataProvider"           
            connectionString="AppSettings:SqlCe4Guid" />
        
      </connections>
    </connectionInfo>
  </EntitySpaces>
  
    <connectionStrings configSource="Connections.config" />
</configuration>