<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="EntitySpaces" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Core" >
      <section name="connectionInfo" 
        type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>  
  
  <EntitySpaces>
    <connectionInfo default="AggregateDb">
      <connections>
        
        <add name="AggregateDb" 
            providerMetadataKey="esOracle" 
            sqlAccessType="DynamicSQL" 
            provider="EntitySpaces.OracleClientProvider" 
            providerClass="DataProvider"           
            connectionString="AppSettings:OracleAggregateDb" />
            
        <add name="ForeignKeyTest" 
            providerMetadataKey="esOracle" 
            sqlAccessType="DynamicSQL" 
            provider="EntitySpaces.OracleClientProvider" 
            providerClass="DataProvider"           
            connectionString="AppSettings:OracleFkt" />
        
      </connections>
    </connectionInfo>
  </EntitySpaces>
  
    <connectionStrings configSource="Connections.config" />
</configuration>